:root {
  --fs-sm: 0.9rem;
  --fs-input: 1rem;
  --fs-lg: 1.5rem;
  --fs-4xl: 6rem; /* 64px (H1) */
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'Norse';
  src: url(../fonts/Norse-Bold.woff2) format(woff2),
       url(../fonts/Norse-Bold.woff) format(woff);
}

img {
  display: block;
  max-width: 100%;
}

input, button {
  font: inherit;
}

p, h1 {
  overflow-wrap: break-word;
}

h1 { 
  font-size: clamp(4rem, 5vw, 6rem);
  font-family: 'Norse', sans-serif;
  color: #fff;
}

.container {
  height: 100vh;
  display: flex;

}

.logo-container {
  background-image: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80%;
}

.logo-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  padding: 0.4rem;
}

.logo-container > div > img {
  width: 5rem;
}

.content-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-family: 'Nunito', sans-serif;
}

.form-container {
  padding: 2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.13);
}

.form-container h2 {
  color: #333;
  margin-bottom: 25px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > label {
  font-size: var(--fs-sm);
  font-weight: 600;
  color: #6b6b6b;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.form-content {
  margin-top: 6rem;
  padding: 2rem;
}

.form-content > p {
  font-size: var(--fs-lg);
  font-weight: bold;
  width: 55ch;
}

.form-content > p:last-child {
  margin-top: 2rem;
}

input {
  padding: 10px 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  transition: border 0.2s ease;
  font-size: var(--fs-input);
}

input:focus {
  outline: none;
  border-color: #3b82f6;
}

input.error {
  border-color: #e63946;
  background: #ffecec;
}


.sign-up {
  padding: 2rem;
}

button {
  font-weight: bold;
  font-size: var(--fs-input);
  color: #fff;
  background-color: #068b27;
  border: none;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.13);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #068b27;
}